doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ../../dist/output.css
        title Boom
    body(class="font-mono text-base w-3/4 max-w-screen-sm my-10 mx-auto flex flex-col justify-center")
        header
            h1(class="text-3xl font-bold underline") Boom
            h2#roomTitle

        main
            div#nickname
                form#nick
                    input(type="text", placeholder="Choose a nickname", required)
                    button Save
            div#room
                form#roomForm    
                    input(placeholder="Room Name", required, type="text")
                    button Enter
            div#call
                div#myStream
                    video#myFace(autoplay,playsinline, width="150", height="150")
                    div(class="flex items-center justify-center")
                        button#mute Mute
                        button#camera Camera Off
                        button#leave Leave
                        select#cameras
                    video#yourFace(autoplay,playsinline, width="400", height="400")
                    ul#messageList
                form#message
                    input(type="text", placeholder="Write a message", required)
                    button Send

        footer(class="text-center lg:text-left bg-gray-100 text-gray-600")
            div(class="flex justify-center items-center lg:justify-between p-6 border-b border-gray-300")
                span Copyright © 
                a(href="https://bom-kim.netlify.com" class="underline") Bom Kim

        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 