@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    font-family: monospace;
    font-size: 15px;
    color: rgb(205, 217, 229);
    background-color: rgb(34, 39, 46);
    width: 75%;
    max-width: 640px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }